/** Base styles here **/

@font-face {
  font-family: "Karrik";
  src: url("../fonts//Karrik.woff") format("woff");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-weight: lighter;
}

html {
  height: 100%;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Karrik";
  text-transform: uppercase;
}

canvas {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 8rem;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 4rem;
  line-height: 3.4rem;
  margin: 0;

  sup {
    font-size: 1rem;
    display: inline;
    vertical-align: text-top;
  }
}

h2 {
  font-size: 6rem;
  line-height: 5.43rem;
}

body {
  margin: 0;
  height: 100%;
}

section {
  height: 100vh;
  max-height: 1000px;

  .split-layout-container {
    display: flex;
    width: 100%;
    height: 100%;

    > div {
      width: 50%;
    }

    .text-container {
      background-color: rgb(249, 248, 240);
      padding: 3rem;
    }
  }

  &:nth-child(odd) {
    .split-layout-container > div:first-child {
      background-color: blue;
    }
  }

  &:nth-child(even) {
    .split-layout-container > div:nth-child(2) {
      background-color: blue;
    }
  }
}

.section-1 {
  .split-layout-container .text-container {
    p {
      font-size: 1.8rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.section-2 {
  .split-layout-container .text-container {
    p {
      font-size: 1.8rem;
    }
  }
}
